[core]
    pager = less -q -R
    ignorecase = false
    quotepath = false
    safecrlf = true
    autocrlf = false
    excludesfile = ~/.gitignore
    preloadindex = true
    editor = vim
[color]
    ui = true
[alias]
	st = status
	c = commit -v
	ss = stash
	br = branch -vv
    co = checkout
	o = checkout
	df = diff
	p = pull
	pu = push
	r = remote
    lgl = log --oneline
    lgt = log --graph --pretty=format:'%C(red reverse)%d%Creset%C(white reverse) %h% Creset %C(green reverse) %an %Creset %C(cyan)%ar%Creset%n%C(white bold)%w(80)%s%Creset%n%n%w(80,2,2)%b'
    dfl = log --no-merges --pretty=format:'%C(yellow)%h %C(white)%s %C(green) %an'
    graph = log --graph --date-order --all --pretty=format:'%h %C(red)%d %C(green)%ad %C(blue)%cn %C(reset)%s --date=short'
    review = diff origin/master...
    ranking = qkkkkkk

[pager]
    log  = less -RX
    show = less -RX
    diff = less -RX

[diff]
    tool = vimdiff
    algrithm = histogram
    compactionHeurixtic = true
